<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skipass2.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.example.skipass2.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.skipass2.app.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.example.skipass2.app.SignupActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.example.skipass2.app.ContactActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.example.skipass2.app.AddSkipassActivity" android:theme="@style/AppTheme.Dark" />
    </application>

</manifest>
